
// footer
.footer {
    padding: 160px 60px 102px;
    background: #000;

    &-inner {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        @include maxInner(1783px,100%);
    }

    &-logo {
        padding-left: 42px;
    }

    &-menu {
        display: flex;
        width: 70%;

        &__item {
            width: 33.3333%;

            &.type1 {
                color: #fff;
                font-size: 20px;
            }

            &.type2 {
                color: #aaa;
                font-size: 18px;
            }

            a {
                display: flex;
                align-items: center;
                font-weight: 700;

                svg {
                    margin-left: 8px;
                }
                

                &~a {
                    margin-top: 12px;
                }
            }
        }
    }

    &-copyright {
        width: 100%;
        margin-top: 152px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        opacity: 0.5;
        color: #fff;
    }
}