.header {
    position: fixed;
    top: -104px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 99;
    transition: top .3s;

    &.on {
        top: 20px;
            
        @include tablet{
            top: 0;
        }
    }

    &.transparent {
            
        @include tablet{
            .header-inner {
                background: transparent;
            }
        }
    }
    &-button {
        &__mob {
            display: none;

            &.on {
                img {
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        display: block;
                    }
                }
            }

            img {
                &:nth-child(2) {
                    display: none;
                }
            }
    
            @include tablet{
                display: block;
            }
        }
    }

    &-inner {
        @include maxInner(100%,95%);
        position: relative;
        background: #fff;
        border-radius: 99px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        height: 84px;
        z-index: 99;

        @include desktop {
            height: 75px;
        }
            
        @include tablet{
            @include maxInner(100%,100%);
            padding: 0 20px;
            border-radius: 0;
        }
    }

    &-logo {
        width: 30px;

        @include desktop {
            width: 25px;
        }
    }
    
    &-wrap {
        padding-left: 113px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 70px);
        height: 100%;

        @include desktop{
            padding-left: 60px;
        }
            
        @include tablet{
            width: auto;
        }
    }

    &-nav {
        width: 70%;
        height: 100%;

        @include tablet{
            display: none;
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 36px;
            width: 100%;
            height: 100%;
        }

        &__item {
            position: relative;
            font-size: 18px;
            font-weight: 500;
            color: #000;
            height: 100%;
            display: flex;
            align-items: center;
            transition: .15s;

            @include desktop {
                font-size: 16px;
            }

            & > a {
                display: flex;
                align-items: center;
            }
            
            img {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-top: 2px;
                margin-left: 4px;

                &:nth-child(2) {
                    display: none;
                }
            }

            &:hover {

                &>a {
                    color: #3067ec;
                }
            
                img {
                    &:nth-child(1) {
                        display: none;
                    }
    
                    &:nth-child(2) {
                        display: inline-block;
                    }
                }
                .header-nav__sublist {
                    display: block;
                }
            }
        }

        &__sublist {
            position: absolute;
            top: 69px;
            left: 50%;
            transform: translateX(-27%);
            border: 2px solid #000;
            border-radius: 10px;
            padding: 20px;
            min-width: 288px;
            background: #fff;
            display: none;
        }

        &__subitem {
            &~.header-nav__subitem {
                margin-top: 12px;
            }
            &>a {
                display: block;
                padding: 6px 20px;
                border-radius: 8px;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -.03em;
            }
            &:hover {
                &>a {
                    background: #f4f4f4;
                }
            }
        }
    }

    &-group {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;

        &__link {
            @include roundButton($hover:line,$size:xsmall,$bg-color:#000,$font-size:18px);
            display: block;

            @include desktop {
                @include roundButton($hover:line,$size:xsmall,$bg-color:#000,$font-size:16px);
            }

            @include tablet {
                @include roundButton($hover:line,$size:xsmall,$bg-color:#000,$font-size:14px);
                padding: 12px;
                display: none;
                position: absolute;
                right: 60px;

                &.on {
                    display: inline-block;
                }
            }
        }

        &__info {
            display: flex;
            align-items: center;
            padding-right: 20px;

            @include tablet{
                display: none;
            }

            &__item {
                position: relative;

                &>a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    border-radius: 8px;
                    transition: background-color .2s;
                    background: #fff;
                    padding: 0 10px;
                    font-weight: 500;
                    padding: 10px 8px;

                    &:hover {
                        background-color: #f4f4f4;
                    }

                    @include desktop {
                        font-size: 16px;
                    }

                    @include tablet {
                        font-size: 14px;
                    }
                }

                &:nth-child(2) {
                    padding-left: 12px;

                    &:hover {
                        .header-group__info__sub {
                            display: block;
                        }
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 4px;
                        display: inline-block;
                        width: 2px;
                        height: 16px;
                        background-color: #f4f4f4;
                    }
                }
            }

            &__sub {
                background-color: #f4f4f4;
                padding: 20px 24px;
                border-radius: 12px;
                position: absolute;
                top: 40px;
                left: 0;
                display: none;
            }

            &__subitem {
                position: relative;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;

                &:last-child {
                    margin-top: 18px;
                }

                &.active {
                    &:after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: #000;
                        position: absolute;
                        bottom: -2px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    &.mobile {
        position: fixed;
        transform: inherit;
        z-index: 9;
        top: 0;
        left: 0;
        bottom: calc(100% - 78px);
        right: 0;
        transform: translateY(0);
        overflow-y: hidden;
        transition: bottom .15s ease-out,transform .5s ease-out;

        &.active {
            bottom: 0;
            overflow-y: auto;
            background: #fff;

            .header-group__info,
            .header-nav {
                display: block;
            }
        }

        &-menu {
            position: fixed;
            width: 100%;
            height: 100%;
        }

        .header-wrap {
            display: block;
            padding: 80px 20px 0;
        }

        .header-nav {
            display: block;
            width: 100%;
            padding-top: 50px;

            &__list {
                flex-direction: column;
                align-items: start;
            }

            &__item {
                height: auto;
                display: block;
                width: 100%;

                &:hover {
    
                    &>a {
                        color: inherit;
                    }
                
                    img {
                        &:nth-child(1) {
                            display: block;
                        }
        
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                    .header-nav__sublist {
                        display: none;
                    }
                }
            }

            &__sublist {
                top: auto;
                left: auto;
                transform: inherit;
                position: relative;
                background: #fff;
                width: 100%;
            }
        }

        .header-group {
            position: absolute;
            bottom: 20px;
            left: 20px;
            display: inline-block;
            width: auto;

            &__info {
                font-size: 14px;

                &__sub {
                    display: block;
                    top: -100px;
                    padding: 10px 14px;
                }

                &__subitem {
                    font-size: 14px;
                }
            }
        }
    }
}