.header {
    position: fixed;
    top: -104px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 99;
    transition: top .3s;

    &.on {
        top: 20px;
    }

    &-inner {
        @include maxInner(100%,95%);
        background: #fff;
        border-radius: 99px;
        display: flex;
        align-items: center;
        padding: 0 40px;
        height: 84px;
    }

    &-logo {
        width: 30px;
    }
    
    &-wrap {
        padding-left: 113px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 60px);
        height: 100%;

        @mixin desktop{
            padding-left: 90px;
        }
    }

    &-nav {
        width: calc(80% - 113px);
        height: 100%;

        @mixin desktop{
            width: calc(80% - 90px);
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 36px;
            width: 100%;
            height: 100%;
        }

        &__item {
            position: relative;
            font-size: 18px;
            font-weight: 500;
            color: #000;
            transition: .15s;

            & > a {
                display: flex;
                align-items: center;
            }
            
            img {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-top: 2px;
                margin-left: 4px;

                &:nth-child(2) {
                    display: none;
                }
            }

            &:hover {

                &>a {
                    color: #3067ec;
                }
            
                img {
                    &:nth-child(1) {
                        display: none;
                    }
    
                    &:nth-child(2) {
                        display: inline-block;
                    }
                }
                .header-nav__sublist {
                    display: block;
                }
            }
        }

        &__sublist {
            position: absolute;
            top: 45px;
            left: 50%;
            transform: translateX(-27%);
            border: 2px solid #000;
            border-radius: 10px;
            padding: 20px;
            min-width: 288px;
            background: #fff;
            display: none;
        }

        &__subitem {
            &~.header-nav__subitem {
                margin-top: 12px;
            }
            &>a {
                display: block;
                padding: 6px 20px;
                border-radius: 8px;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -.03em;
            }
            &:hover {
                &>a {
                    background: #f4f4f4;
                }
            }
        }
    }

    &-group {
        display: flex;
        align-items: center;

        &__link {
            @include roundButton($hover:line,$size:xsmall,$bg-color:#000,$font-size:18px);
            display: block;
        }

        &__info {
            display: flex;
            align-items: center;
            padding-right: 20px;

            &__item {
                position: relative;

                &>a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    border-radius: 8px;
                    transition: background-color .2s;
                    background: #fff;
                    padding: 0 10px;
                    font-weight: 500;
                    padding: 10px 8px;

                    &:hover {
                        background-color: #f4f4f4;
                    }
                }

                &:nth-child(2) {
                    padding-left: 12px;

                    &:hover {
                        .header-group__info__sub {
                            display: block;
                        }
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 4px;
                        display: inline-block;
                        width: 2px;
                        height: 16px;
                        background-color: #f4f4f4;
                    }
                }
            }

            &__sub {
                background-color: #f4f4f4;
                padding: 20px 24px;
                border-radius: 12px;
                position: absolute;
                top: 50px;
                left: 0;
                display: none;
            }

            &__subitem {
                position: relative;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;

                &:last-child {
                    margin-top: 18px;
                }

                &.active {
                    &:after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: #000;
                        position: absolute;
                        bottom: -2px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}