
// @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 알아보기 
:root {
    //모바일에서 a태그 클릭시 하이라이트 효과 색상
    -webkit-tap-highlight-color:transparent; 
    // 웹 반응형 작업을 하면서 크롬 모바일 모드나 다른 디바이스에는 문제 없이 보이던 텍스트 들이
    // 몇몇 아이폰 모바일 웹으로 화면을 볼때 어떤font들은 이상하게 크게 보이는 경우가 있다.
    // IOS의 경우 뷰포트가 변경되면 자동으로 폰트 크기를 조절하기 때문이라고 한다.
    // text-size-adjust는 비표준 속성이므로 벤더 프리픽스를 사용해야 한다.
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    cursor:default;l
    ine-height:1.5;
    overflow-wrap:break-word;
    // tab 간격을 지정해줄 수 있다. 
    -moz-tab-size:4;
    tab-size:4
} */
    

*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
// flex-shrink:0;
html, body {height:100%;font-family: 'Montserrat', 'Noto Sans KR', sans-serif;font-weight: 400;word-break: keep-all;}
// html, body {height:100%;font-family: "Lora","noto Serif KR", sans-serif;font-weight: 400;word-break: keep-all;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul { list-style: none; }

::selection{background: #000;color: #fff;}