@import "./base/reset";
@import "./base/preset";

@import "./utill/var";
@import "./utill/mixin";

@import "./subpage";

@import "./layout/header";
@import "./layout/footer";


.intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__textbox {
        // color: #fff;
        gap: 80px;
        
        h1 {
            // font-weight: 700;
            font-size: 8vw;
            line-height: 1.2;
            transition: .2s;

            &:nth-child(1),
            &:nth-child(3) {
                transform: translateX(-20%);
            }

            &:nth-child(2),
            &:nth-child(4) {
                transform: translateX(20%);
                text-align: right;
            }
        }

        h2 {
            position: relative;
            font-size: 1.5vw;
            display: inline-block;
            margin-top: 60px;
            transition: .2s;

            &:after {
                content: "";
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                bottom: -7px;
                left: 0;
            }
        }
    }
}

.profile {
    // background: $color-yellow;

    &__marquee {
        width: 100vw;
        border-top: 2.5px solid #E898A9;
        border-bottom: 2.5px solid #E898A9;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        flex-shrink: 0;

        &--line {
            min-width: 100%;
            display: flex;
            align-items: center;
            animation: marquee 13s infinite linear;
        }

        &--item {
            position: relative;
            width: 100%;
            text-align: center;
            background: url(../assets/images/filled_heart_white.png) no-repeat center;
            background-size: 40%;
            height: 150px;

            &--text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-primary;
                font-size: 20px;
                font-weight: 700;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        padding: 8vw 0px;

        @include tablet {
            flex-direction: column;
        }

        &--imagebox {
            position: relative;
            display: block;
            width: 40%;
            height: 500px;
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        &--textbox {
            width: 60%;
            font-size: 20px;
            
            @include tablet {
                width: 100%;
                font-size: 18px;
                text-align: center;
            }

            &--sub {
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                gap: 8px;
            
                @include tablet {
                    width: 100%;
                    font-size: 18px;
                    text-align: center;
                    justify-content: center;
                }

                span {
                    &:last-child {
                        font-size: 18px;
                        border: 2px solid $color-primary;
                        border-radius: 20px;
                        padding: 4px 12px;
            
                        @include tablet {
                            font-size: 14px;
                        }
                    }
                }
            }

            a.work-diary {
                position: relative;
                // color: $color-primary;

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }

            p {
                line-height: 1.8;
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.move {

    &__container {
        height: 300vh;
    }

    &__title {
        position: sticky;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        h2 {
            width: 100%;
            font-size: 10vw;
            letter-spacing: -0.04em;
            line-height: 1;
            &:nth-child(1), 
            &:nth-child(3) {
                transform: translateX(-100%);
            }

            &:nth-child(2) {
                text-align: right;
                transform: translateX(100%);
            }
        }
        h3 {
            font-size: 2vw;
        }
    }
}

.experience {
    &__container {
        padding: 8vw 0 0;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8vw 2vw;
        
        &--item {
            width: calc(50% - 2vw);

            &--link {
                position: relative;
                width: 100%;
                display: block;
                border-bottom: 4px solid #000;
                padding-bottom: 20px;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                &--imgbox {
                    width: 100%;
                    margin-bottom: 16px;
                    overflow: hidden;

                    img {
                        transition: .4s;
                    }
                }
                &--textbox {
                    h4 {
                        font-size: 30px;
                        font-weight: 700;
                        margin-bottom: 40px;
                    }

                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.pre {
    // background: $color-yellow;
    padding: 0 0 8vw;
    
    &__listwrap {
        width: 100%;

        &--item {
            border-bottom: 3px solid #000;

            &--link {
                position: relative;
                padding: 2.5vw 3vw;
                font-size: 2vw;
                transition: .4s ease-out;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0%;
                    height: 100%;
                    background: #000;
                    transition: .4s ease-out;
                }

                p {
                    z-index: 9;
                }

                &:hover {
                    padding: 2.5vw 3.5vw;
                    color: #fff;

                    &::before {
                        width: 100%;
                    }
                }
            }

            &:first-child {
                border-top: 3px solid #000;
            }
        }
    }
}

.contact {
    padding: 120px 0;

    &__title {
        margin-bottom: 90px;

        h2 {
            font-size: 2.5vw;
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            transition: .2s;

            img {
                width: 3vw;
                margin-left: 12px;
                min-width: 12px;
                transition: .2s;
            }
        }

        a {
            font-size: 5.5vw;
            font-weight: 700;
            transition: .2s;

            &:hover {
                color: $color-primary;
            }
        }
    }

    p {
        line-height: 1.8em;
        font-size: 20px;
        font-weight: 300;
    }
}

.more_btn {
    font-size: 18px;
    color: #000;

    &:hover {
        .left-arw {
            opacity: 1;
            transform: translateX(4px);
        }
    }

    .left-arw {
        transition: .2s;
        opacity: 0;
        transform: translateX(0px);
    }
}

.hover-eye {
    position: relative;

    &:after {
        content: "";
        width: 0%;
        height: 2px;
        display: inline-block;
        background: $color-primary;
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
    }

    &:hover {
        &:after {
            width: 70%;
        }
    }
}

.left-arw {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../assets/images/black_arrow.png) no-repeat center;
    background-size: contain;
    vertical-align: -1px;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: url(../assets/images/hover-eye.png) no-repeat center;
    background-size: contain;
    opacity: 0;
    z-index: 9999999999;
    pointer-events: none;

    &-red {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background: url(../assets/images/hover-eye-red.png) no-repeat center;
        background-size: contain;
        opacity: 0;
        z-index: 9999999999;
        pointer-events: none;

        &.show {
            opacity: 1;
        }
    }

    &.show {
        opacity: 1;
    }
}

.cursor-none {
    cursor: none;
}

.available {
    position: fixed;
    bottom: 50px;
    right: 20px;

    a {
        display: inline-block;
        padding: 12px 20px;
        font-size: 14px;
        border: 2px solid $color-primary;
        border-radius: 30px;
    }
}