@import "./base/reset";
@import "./base/preset";

@import "./utill/var";
@import "./utill/mixin";

// @import "./layout/header";
// @import "./layout/footer";


.intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(232,152,169);
    background: linear-gradient(180deg, rgba(232,152,169,1) 33%, rgba(243,235,224,1) 100%);

    &__textbox {
        color: #fff;
        gap: 80px;
        text-align: center;
        
        h1 {
            font-weight: 700;
            font-size: 130px;
            line-height: 1.2;
        }

        h2 {
            position: relative;
            font-size: 24px;
            display: inline-block;
            margin-top: 60px;

            &:after {
                content: "";
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                bottom: -7px;
                left: 0;
            }
        }
    }
}

.profile {
    background: $color-yellow;

    &__marquee {
        width: 100vw;
        border-top: 2.5px solid #E898A9;
        border-bottom: 2.5px solid #E898A9;

        &--line {
            width: 100%;
            display: flex;
            align-items: center;
        }

        &--item {
            position: relative;
            width: 25%;
            text-align: center;
            background: url(../assets/images/filled_heart_white.png) no-repeat center;
            background-size: 40%;
            height: 150px;

            &--text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-primary;
                font-size: 20px;
                font-weight: 700;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        padding: 120px 0px;

        &--imagebox {
            position: relative;
            display: block;
            width: 40%;
            height: 500px;
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        &--textbox {
            width: 60%;
            font-size: 20px;
            a.work-diary {
                position: relative;
                // color: $color-primary;

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }

                // &::after {
                //     content: "궁금해요!";
                //     font-size: 12px;
                //     color: #fff;
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     display: inline-block;
                //     background: $color-primary;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     opacity: 0;
                //     transition: .3s;
                // }
            }

            p {
                line-height: 1.8;
            }
        }
    }
}

.pre {
    background: $color-yellow;
    padding: 120px 0px;

    &__title {
        h2 {
            font-size: 60px;
            margin-bottom: 40px;
        }

        p {
            font-size: 20px;
            line-height: 1.8;
        }
    }

    &__content {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;

        &--item {
            position: relative;
            border: 2px solid $color-primary;
            display: inline-block;
            width: 40%;
            background: $color-yellow;
            padding: 20px;
            color: $color-primary;
            cursor: pointer;
        }

        &--imgbox {
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--subtitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            span {
                font-weight: 500;
            }
        }

        &--disc {
            margin-top: 20px;
            text-align: center;

            h3 {
                font-weight: 700;
                font-size: 24px;
                margin-top: 18px;
            }
            
            p {
                line-height: 1.6;
            }
        }
    }
}

.more_btn {
    font-size: 18px;
    color: #000;

    &:hover {
        .left-arw {
            opacity: 1;
            transform: translateX(4px);
        }
    }

    .left-arw {
        transition: .2s;
        opacity: 0;
        transform: translateX(0px);
    }
}

.left-arw {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../assets/images/black_arrow.png) no-repeat center;
    background-size: contain;
    vertical-align: -1px;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: url(../assets/images/hover-eye.png) no-repeat center;
    background-size: contain;
    opacity: 0;
    z-index: 9999999999;
    pointer-events: none;

    &.show {
        opacity: 1;
    }
}

.cursor-none {
    cursor: none;
}