
// footer
.footer {
    &__main {
        display: flex;
        align-items: start;
        background: #333;
        color: #cbc8c2;
        padding: 24px;
    }
    &__info {
        width: 60%;

        &--copyright {
            color: #cbc8c2;
            font-weight: 400;
            line-height: 1.4;

            &:last-child {
                text-decoration: underline;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
        gap: 10px 0;

        &--item {
            position: relative;

            &:not(:last-child) {
                padding-right: 24px;

                &:after {
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height:12px;
                    background: #4a4946;
                    position: absolute;
                    right: 12px;
                    top: 3px;
                }
            }
        }

        &--link {
            color: #fff;
            display: inline-block;
            // font-size: 14px;
            position: relative;
            white-space: nowrap;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        gap: 0 5px;

        &--link {
            width: calc(100% / 2 - 10px);
            background: #fff;
            border-radius: 8px;
            color: #000;
            min-height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90px;
        }

        &--text {
            text-decoration: underline;
            text-align: center;
            line-height: 1.35;
        }
    }
}