.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    z-index: 999999;

    &__container {
        width: 100%;
        // border-top: 2px solid #000;
        // border-bottom: 1px solid #000;
        padding: 20px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: #fff;

        h1, h2 {
            position: relative;
            display: inline-block;
            font-weight: 500;

            &::before {
                content: "";
                display: inline-block;
                width: 0%;
                height: 2px;
                background: $color-primary;
                position: absolute;
                bottom: -4px;
                left: 0;
                transition: .2s;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }

        h1 {
            text-align: right;
        }
    }
}