

$desktop:1400px; //1025 까지 보고 잡기
$tablet:1024px; //768 까지 보고 잡기
$mobile:767px; //320 까지니까 320 최소를 보고 디자인 잡기
$smobile:500px; //320 까지니까 320 최소를 보고 디자인 잡기



@mixin desktop{
    @media (max-width:$desktop) {
        @content;
    }
}

@mixin tablet{
    @media (max-width:$tablet) {
        @content;
    }
}


@mixin mobile{
    @media (max-width:$mobile) {
        @content;
    }
}


@mixin smobile{
    @media (max-width:$smobile) {
        @content;
    }
}