@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
/* 알아보기 
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4} */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Lora", "noto Serif KR", sans-serif;
  font-weight: 400;
  word-break: keep-all;
}

/* body {padding-top: 54px;} */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

#wrapper {
  min-width: 1441px;
}

i[class^=ico-], i[class*=ico-] {
  display: inline-block;
  vertical-align: top;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

br.mo {
  display: none;
}

.scroll-hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  -ms-touch-action: none;
      touch-action: none;
}

.mw {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(232, 152, 169);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, rgb(232, 152, 169)), to(rgb(243, 235, 224)));
  background: linear-gradient(180deg, rgb(232, 152, 169) 33%, rgb(243, 235, 224) 100%);
}
.intro__textbox {
  color: #fff;
  gap: 80px;
  text-align: center;
}
.intro__textbox h1 {
  font-weight: 700;
  font-size: 130px;
  line-height: 1.2;
}
.intro__textbox h2 {
  position: relative;
  font-size: 24px;
  display: inline-block;
  margin-top: 60px;
}
.intro__textbox h2:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -7px;
  left: 0;
}

.profile {
  background: #f3ebe0;
}
.profile__marquee {
  width: 100vw;
  border-top: 2.5px solid #E898A9;
  border-bottom: 2.5px solid #E898A9;
}
.profile__marquee--line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__marquee--item {
  position: relative;
  width: 25%;
  text-align: center;
  background: url(../assets/images/filled_heart_white.png) no-repeat center;
  background-size: 40%;
  height: 150px;
}
.profile__marquee--item--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #E36181;
  font-size: 20px;
  font-weight: 700;
}
.profile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  padding: 120px 0px;
}
.profile__content--imagebox {
  position: relative;
  display: block;
  width: 40%;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.profile__content--imagebox img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.profile__content--textbox {
  width: 60%;
  font-size: 20px;
}
.profile__content--textbox p {
  line-height: 1.8;
}

.pre {
  background: #f3ebe0;
  padding: 120px 0px;
}
.pre__title h2 {
  font-size: 60px;
  margin-bottom: 40px;
}
.pre__title p {
  font-size: 20px;
  line-height: 1.8;
}
.pre__content {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pre__content--item {
  border: 2px solid #E36181;
  display: inline-block;
  width: 40%;
  background: #f3ebe0;
  padding: 20px;
  color: #E36181;
}
.pre__content--imgbox {
  width: 100%;
  height: 200px;
  background: #000;
}
.pre__content--subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pre__content--subtitle span {
  font-weight: 500;
  margin-bottom: 20px;
}
.pre__content--disc {
  margin-top: 20px;
  text-align: center;
}
.pre__content--disc h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 12px;
}
.pre__content--disc p {
  line-height: 1.6;
}