@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* 알아보기 
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4} */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 400;
  word-break: keep-all;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

#wrapper {
  min-width: 1441px;
}

i[class^=ico-], i[class*=ico-] {
  display: inline-block;
  vertical-align: top;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

br.mo {
  display: none;
}

.scroll-hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  -ms-touch-action: none;
      touch-action: none;
}

.mw {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.lw {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.banner {
  width: 100vw;
  height: 100vh;
}

#journallab .introduction {
  background: #122649;
}

#lexcloud .introduction {
  background: #735aff;
}

.introduction {
  width: 100vw;
  padding: 80px 10vw;
  color: #fff;
  font-size: 20px;
  line-height: 1.8em;
  letter-spacing: 0.008em;
}
.introduction__title {
  margin-bottom: 60px;
}
.introduction__title h2 {
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: 600;
}
.introduction__title--lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.introduction__title--lang li {
  font-size: 14px;
  position: relative;
  font-weight: 300;
}
.introduction__title--lang li ~ li {
  padding-left: 20px;
}
.introduction__title--lang li ~ li:before {
  content: "";
  width: 1px;
  height: 10px;
  background: #fff;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-26%);
          transform: translateY(-26%);
}
.introduction__disc {
  font-size: 20px;
  font-weight: 300;
}

.discription__double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}
.discription__double--imgbox {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.discription__double--imgbox img {
  width: 100%;
}
.discription__double--textbox {
  width: 50%;
  padding: 20px 4vw;
}
.discription__double--textbox p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8em;
  letter-spacing: 0.008em;
}

.goback {
  position: fixed;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.goback a {
  padding: 8px 40px;
  font-size: 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #000;
  border-radius: 20px;
}
.goback a:last-child {
  background: #000;
  color: #fff;
}

.link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  margin-top: 20px;
}
.link-list a {
  font-size: 16px;
}
.link-list a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  top: -60px;
  left: 0;
  width: 100vw;
  z-index: 999999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header.show {
  top: 20px;
}
.header__container {
  width: 100%;
  padding: 20px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__container h1, .header__container h2 {
  position: relative;
  display: inline-block;
  font-weight: 500;
}
@media (max-width: 767px) {
  .header__container h1, .header__container h2 {
    font-size: 14px;
  }
}
.header__container h1::before, .header__container h2::before {
  content: "";
  display: inline-block;
  width: 0%;
  height: 2px;
  background: #FF3901;
  position: absolute;
  bottom: -4px;
  left: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__container h1:hover::before, .header__container h2:hover::before {
  width: 100%;
}
.header__container h1 {
  text-align: right;
}

.footer {
  padding: 80px 0 30px;
  text-align: center;
  line-height: 1.8em;
  color: #e6e6e6;
}

.intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.intro__textbox {
  gap: 80px;
}
.intro__textbox h1 {
  font-size: 8vw;
  line-height: 1.2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.intro__textbox h1:nth-child(1), .intro__textbox h1:nth-child(3) {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
.intro__textbox h1:nth-child(2), .intro__textbox h1:nth-child(4) {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  text-align: right;
}
.intro__textbox h2 {
  position: relative;
  font-size: 1.5vw;
  display: inline-block;
  margin-top: 60px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.intro__textbox h2:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -7px;
  left: 0;
}

.profile__marquee {
  width: 100vw;
  border-top: 2.5px solid #E898A9;
  border-bottom: 2.5px solid #E898A9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.profile__marquee--line {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: marquee 13s infinite linear;
          animation: marquee 13s infinite linear;
}
.profile__marquee--item {
  position: relative;
  width: 100%;
  text-align: center;
  background: url(../assets/images/filled_heart_white.png) no-repeat center;
  background-size: 40%;
  height: 150px;
}
.profile__marquee--item--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FF3901;
  font-size: 20px;
  font-weight: 700;
}
.profile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  padding: 8vw 0px;
}
@media (max-width: 1024px) {
  .profile__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.profile__content--imagebox {
  position: relative;
  display: block;
  width: 40%;
  height: 500px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .profile__content--imagebox {
    width: 95%;
  }
}
.profile__content--imagebox img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.profile__content--textbox {
  width: 60%;
  font-size: 20px;
}
@media (max-width: 1024px) {
  .profile__content--textbox {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
}
.profile__content--textbox--sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  gap: 8px;
}
@media (max-width: 1024px) {
  .profile__content--textbox--sub {
    width: 100%;
    font-size: 18px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.profile__content--textbox--sub span:last-child {
  font-size: 18px;
  border: 2px solid #FF3901;
  border-radius: 20px;
  padding: 4px 12px;
}
@media (max-width: 1024px) {
  .profile__content--textbox--sub span:last-child {
    font-size: 14px;
  }
}
.profile__content--textbox a.work-diary {
  position: relative;
}
.profile__content--textbox a.work-diary:hover::after {
  opacity: 1;
}
.profile__content--textbox p {
  line-height: 1.8;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.move__container {
  height: 300vh;
}
.move__title {
  position: sticky;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.move__title h2 {
  width: 100%;
  font-size: 10vw;
  letter-spacing: -0.04em;
  line-height: 1;
}
.move__title h2:nth-child(1), .move__title h2:nth-child(3) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.move__title h2:nth-child(2) {
  text-align: right;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.move__title h3 {
  font-size: 2vw;
}

.experience__container {
  padding: 8vw 0 0;
}
.experience__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8vw 2vw;
}
.experience__list--item {
  width: calc(50% - 2vw);
}
@media (max-width: 767px) {
  .experience__list--item {
    width: 100%;
  }
}
.experience__list--item--link {
  position: relative;
  width: 100%;
  display: block;
  border-bottom: 4px solid #000;
  padding-bottom: 20px;
}
.experience__list--item--link:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.experience__list--item--link--imgbox {
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
}
.experience__list--item--link--imgbox img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.experience__list--item--link--textbox h4 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .experience__list--item--link--textbox h4 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.experience__list--item--link--textbox span {
  font-size: 18px;
}
@media (max-width: 1024px) {
  .experience__list--item--link--textbox span {
    font-size: 16px;
  }
}

.pre {
  padding: 12vw 0 8vw;
}
.pre__listwrap {
  width: 100%;
}
.pre__listwrap--item {
  border-bottom: 3px solid #000;
}
.pre__listwrap--item--link {
  position: relative;
  padding: 2.5vw 3vw;
  font-size: 2vw;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .pre__listwrap--item--link {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .pre__listwrap--item--link {
    font-size: 18px;
  }
}
.pre__listwrap--item--link:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #000;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.pre__listwrap--item--link p {
  z-index: 9;
}
.pre__listwrap--item--link:hover {
  padding: 2.5vw 3.5vw;
  color: #fff;
}
.pre__listwrap--item--link:hover::before {
  width: 100%;
}
.pre__listwrap--item:first-child {
  border-top: 3px solid #000;
}

.contact {
  padding: 120px 0;
}
.contact__title {
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .contact__title {
    margin-bottom: 50px;
  }
}
.contact__title h2 {
  font-size: 2.5vw;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 767px) {
  .contact__title h2 {
    font-size: 20px;
  }
}
.contact__title h2 img {
  width: 3vw;
  margin-left: 12px;
  min-width: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 767px) {
  .contact__title h2 img {
    display: none;
  }
}
.contact__title a {
  font-size: 5.5vw;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 1024px) {
  .contact__title a {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .contact__title a {
    font-size: 30px;
  }
}
.contact__title a:hover {
  color: #FF3901;
}
.contact p {
  line-height: 1.8em;
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .contact p {
    font-size: 18px;
  }
}

.more_btn {
  font-size: 18px;
  color: #000;
}
.more_btn:hover .left-arw {
  opacity: 1;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}
.more_btn .left-arw {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.hover-eye {
  position: relative;
}
.hover-eye:after {
  content: "";
  width: 0%;
  height: 2px;
  display: inline-block;
  background: #FF3901;
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hover-eye:hover:after {
  width: 70%;
}

.left-arw {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(../assets/images/black_arrow.png) no-repeat center;
  background-size: contain;
  vertical-align: -1px;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: url(../assets/images/hover-eye.png) no-repeat center;
  background-size: contain;
  opacity: 0;
  z-index: 9999999999;
  pointer-events: none;
}
.cursor-red {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: url(../assets/images/hover-eye-red.png) no-repeat center;
  background-size: contain;
  opacity: 0;
  z-index: 9999999999;
  pointer-events: none;
}
.cursor-red.show {
  opacity: 1;
}
.cursor.show {
  opacity: 1;
}

.cursor-none {
  cursor: none;
}

.available {
  position: fixed;
  bottom: 50px;
  right: 20px;
}
.available a {
  display: inline-block;
  padding: 12px 20px;
  font-size: 14px;
  border: 2px solid #FF3901;
  border-radius: 30px;
}