// $color-primary: #E36181;
$main-gray: #E4E4E4;
$sub-gray: #F4F4F1;
$max-width: 1480px;

// $color-yellow:#f3ebe0;
// $subsite-padding:80px 10vw;
// $lexcloud-primary: #735aff;
// $journallab-primary: #122649;